<footer>
    <div class="footer-container">
        <div class="footer-section logo">
            <img class="footer-logo" src="../../assets/img/Raiders.LogoBranco.png" alt="Raiders Academy Logo">
        </div>
        <div class="footer-section contact">
            <h3>Fale Conosco</h3>
            <p>contato5raidersacademy.com</p>
            <img class="footer-img" src="../../assets/img/whats.png" alt="WhatsApp">
        </div>
        <div class="footer-section links">
            <h3>Institucional</h3>
            <ul>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Seja parceiro</a></li>
                <li><a href="#">Como Funciona</a></li>
            </ul>
        </div>
        <div class="footer-section map">
            <h3>Outros</h3>
            <p>Políticas de Privacidade</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9413809149085!2d-46.65556508443946!3d-23.563987367546576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59c7c8b1f5e5%3A0x49e8a8d3b0b5af6a!2sIguatemi%20Business%20Esplanada!5e0!3m2!1spt-BR!2sbr!4v1594793439755!5m2!1spt-BR!2sbr" width="200" height="150" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2023 – Todos os Direitos Reservados.</p>
    </div>
</footer>
