.container {
    max-width: 80%; /* Ajuste para 80% da largura da página */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px; 
    
}


.linkMaterias{
text-decoration: unset;
color: unset;
}
.subject {
    background-color: #0B3C5D; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 15px auto;
    padding: 20px;
    width: 100%;
    position: relative;
    transition: transform 0.2s;
}
.subject:hover {
    transform: scale(1.02);
}
h2 {
    color: #ffffff;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    flex-direction: column;
    background-color: #145A8A; 
    border: 1px solid #1A75BB;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    position: relative;
}
.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}
.question, .response {
    margin-left: 40px;
    margin-top: 5px;
}
.question {
    font-weight: bold;
}
.response {
    font-size: 0.9em;
    color: #dddddd;
}
.user-info {
    display: flex;
    align-items: center;
}
.user-details {
    margin-left: 10px;
}
.user-name {
    display: block;
    font-weight: bold;
}
.user-course {
    display: block;
    font-size: 0.8em;
    color: #ccc;
}
.likes {
    position: absolute;
    right: 10px;
    top: 70px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #ccc;
}
.likes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
