<main>
    <div class="container">
        <!-- disciplina-->
         <a class="linkMaterias" [routerLink]="['/perguntas']">
        <div class="subject">
            <h2>Banco de dados relacional</h2>
            <ul>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de João" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">João Silva</span>
                            <span class="user-course">1º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">Estou com problemas no select</div>
                    <div class="response">Resposta de Maria: Já tentou verificar se as tabelas existem...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>12</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Maria" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Maria Oliveira</span>
                            <span class="user-course">2º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">Não consigo fazer subconsulta</div>
                    <div class="response">Resposta de João: Recomendo revisar os conceitos básicos de select...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>8</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Pedro" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Pedro Costa</span>
                            <span class="user-course">4º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">Alguém pode me ajudar com esse erro:</div>
                    <div class="response">Resposta de Ana: tenta isso aqui...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>15</span>
                    </div>
                </li>
            </ul>
        </div>
        </a>
        <!-- disciplina-->
        <div class="subject">
            <h2>Engenharia de Software</h2>
            <ul>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Ana" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Ana Souza</span>
                            <span class="user-course">1º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">O que é diagrama de classe?</div>
                    <div class="response">Resposta de Fábio: Os diagramas de classe são fundamentais para o processo de modelagem de objetos e modelam a estrutura estática de um sistema.</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>10</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Carlos" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Carlos Lima</span>
                            <span class="user-course">3º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">Qual os tipos de teste de software</div>
                    <div class="response">Resposta de Fernanda: 1. Testes de unidade · 2. Testes de integração · 3. Testes funcionais...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>5</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Fernanda" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Fernanda Almeida</span>
                            <span class="user-course">2º semestre, Jornalismo</span>
                        </div>
                    </div>
                    <div class="question">Como melhorar a Produção Textual?</div>
                    <div class="response">Resposta de Ana: Pratique escrevendo redações e leia bastante para ampliar seu vocabulário...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>7</span>
                    </div>
                </li>
            </ul>
        </div>
        <!-- disciplina-->
        <div class="subject">
            <h2>Estrutura de dados</h2>
            <ul>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Lucas" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Lucas Mendes</span>
                            <span class="user-course">1º semestre, Desenvolvimento de Software</span>
                        </div>
                    </div>
                    <div class="question">Quais os tipos de variáveis primitivas?</div>
                    <div class="response">Resposta de Mariana: byte;
                        short;
                        int;
                        long;
                        boolean;
                        char;
                        float;
                        double.</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>9</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Mariana" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Mariana Rocha</span>
                            <span class="user-course">2º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">qual a diferença de fila e pilha?</div>
                    <div class="response">Resposta de Rafael: Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>14</span>
                    </div>
                </li>
                <li>
                    <div class="user-info">
                        <img src="../../assets/img/userFoto.png" alt="Foto de Rafael" class="user-photo">
                        <div class="user-details">
                            <span class="user-name">Gustavo Fernandes</span>
                            <span class="user-course">2º semestre, Desenvolvimento de software</span>
                        </div>
                    </div>
                    <div class="question">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div>
                    <div class="response">Resposta de Rafael: Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry...</div>
                    <div class="likes">
                        <img src="../../assets/img/curtir.png" alt="Curtir">
                        <span>14</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
