<main class="container">
    <!--FORMULÁRIO DE CADASTRO PARA ESTUDANTE E PROFESSOR -->
    <div class="subject">
        <img class="imgLogin" src="../../assets/img/Raiders.LogoBranco.png" alt="Logo da Raiders">
        <form>
            <h1>Cadastre-se</h1>
            <label class="form-label" for="nome_cad">Nome</label>
            <input class="form-control" id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Nome Completo">

            <label class="form-label" for="cpf_cad">CPF</label>
            <input class="form-control" id="cpf_cad" name="cpf_cad" required="required" type="number" placeholder="000.000.000-00">

            <label class="form-label" for="email_cad">E-mail</label>
            <input class="form-control" id="email_cad" name="email_cad" required="required" type="email" placeholder="Digite seu e-mail">

            <label class="form-label" for="senha_cad">Senha</label>
            <input class="form-control" id="senha_cad" name="senha_cad" required="required" type="password" placeholder="Senha">

            <div>Você é:</div>
            <div class="radio-options">
                <label class="form-label opcao" for="professor">Professor</label>
                <input class="form-check-inline" type="radio" name="usuarios" id="professor">

                <label class="form-label opcao" for="estudante">Estudante</label>
                <input class="form-check-inline" type="radio" name="usuarios" id="estudante">
            </div>

            <label class="form-label" for="campus_select">Selecione seu campus:</label>
            <select class="form-select" id="campus_select" name="campus">
                <option value="" data-default disabled selected></option>
                <option value="facul1">Fatec Votorantim</option>
                <option value="facul2">Fatec Sorocaba</option>
                <option value="facul3">Fatec Tatuí</option>
                <option value="facul4">Fatec Itu</option>
            </select>

            <label class="form-label" for="curso_select">Selecione seu curso:</label>
            <select class="form-select" id="curso_select" name="curso">
                <option value="" data-default disabled selected></option>
                <option value="curso1">Desenvolvimento de Software Multiplataforma</option>
                <option value="curso2">Gestão da Tecnologia da Informação</option>
                <option value="curso3">Análise e Desenvolvimento de Sistemas</option>
            </select>

            <p>
                <button class="botaoLogin" type="button">Cadastrar</button>
            </p>

            <p class="link">Já tem conta? Ir para <a [routerLink]="['/login']">Login</a></p>
        </form>
    </div>
</main>