<main>
    <div class="container">
        <h1>Banco de dados Relacional</h1>
    </div>
    <div class="container">
        <div class="question">
            <div class="user-info">
                <img src="../../assets/img/userFoto.png" alt="Foto de João" class="user-photo">
                <div class="user-details">
                    <span class="user-name">João Silva</span>
                    <span class="user-course">1º semestre, Desenvolvimento de software</span>
                </div>
            </div>
            <div class="question-title">Estou com problemas no select</div>
            <div class="question-text"> Não consigo fazer um select com 2 tabelas diferentes</div>
        </div>
        <!-- Respostas -->
        <div class="response">
            <div class="user-info">
                <img src="../../assets/img/userFoto.png" alt="Foto de Maria" class="user-photo">
                <div class="user-details">
                    <span class="user-name">Maria Oliveira</span>
                    <span class="user-course">2º semestre, Desenvolvimento de software</span>
                </div>
            </div>
            <div class="response-text">Já tentou verificar se as tabelas existem no banco e se está chamando o nome correto?</div>
            <div class="likes">
                <img src="../../assets/img/curtir.png" alt="Curtir">
                <span>8</span>
            </div>
        </div>
        <div class="response">
            <div class="user-info">
                <img src="../../assets/img/userFoto.png" alt="Foto de Pedro" class="user-photo">
                <div class="user-details">
                    <span class="user-name">Pedro Costa</span>
                    <span class="user-course">4º semestre, Desenvolvimento de software</span>
                </div>
            </div>
            <div class="response-text">Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="likes">
                <img src="../../assets/img/curtir.png" alt="Curtir">
                <span>5</span>
            </div>
        </div>
        <div class="response">
            <div class="user-info">
                <img src="../../assets/img/userFoto.png" alt="Foto de Ana" class="user-photo">
                <div class="user-details">
                    <span class="user-name">Ana Souza</span>
                    <span class="user-course">1º semestre, Desenvolvimento de software</span>
                </div>
            </div>
            <div class="response-text">Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry</div>
            <div class="likes">
                <img src="../../assets/img/curtir.png" alt="Curtir">
                <span>3</span>
            </div>
        </div>
        <!-- Botão para nova resposta -->
        <button class="new-response-button" (click)="toggleNewRQuestionForm()">Nova Resposta</button>
        <!-- Formulário para nova resposta -->
        @if(showTextArea){
        <div class="new-response-form" id="new-response-form">
            <form action="#" method="post">
                <textarea name="new-response" id="new-response" rows="4" placeholder="Escreva sua resposta aqui"></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
        }
    </div>
</main>
