.container {
    max-width: 80%; /* Ajuste para 80% da largura da página */
    margin: 0 auto; /* Centraliza o container */
    padding: 20px; 
    
}
main{
    display: flex;
    flex-direction: column;
}



.question, .response {
    background-color: #0B3C5D;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    padding: 20px;
    width: 100%;
    position: relative;
    transition: transform 0.2s;
}

.question {
    background-color: #145A8A;
}

.question:hover, .response:hover, .new-response-form:hover {
    transform: scale(1.02);
}

.question-title, .response-text {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
}
.question-text{
    margin-top: 20px;
    font-size: 1.0em;
    color: #ffffff;
}

.response-text {
    font-size: 1em;
    color: #dddddd;
    margin-top: 20px;
    margin-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 10px;
}

.user-details {
    margin-left: 10px;
}

.user-name {
    display: block;
    font-weight: bold;
    color: #ffffff;
}

.user-course {
    display: block;
    font-size: 0.8em;
    color: #ccc;
}

.likes {
    position: absolute;
    right: 10px;
    top: 70px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #ccc;
}

.likes img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.new-response-button {
    display: block;
    margin: 20px auto;
    background-color: #145A8A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-response-button:hover {
    background-color: #0B3C5D;
}

.new-response-form {
    background-color: #0B3C5D;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    padding: 20px;
    width: 100%;
    position: relative;
    transition: transform 0.2s;
    display: flex; 
    justify-content: center;
}
.new-response-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-response-form textarea {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
}

.new-response-form button {
    margin-top: 10px;
    background-color: #145A8A;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.new-response-form button:hover {
    background-color: #0B3C5D;
}
