

/* Container geral */
.container {
    margin: 20px;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  /* Seções principais */
  .subject {
    background-color: #0B3C5D;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    margin-top: 100px;
    padding: 20px;
    transition: transform 0.2s;
    color: #ffffff;
    width: 100%;
    
  }
  
  .subject:hover {
    transform: scale(1.02);
  }
  
  .subject h3 {
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  /* Estilo para o conteúdo de texto e imagem */
  .subject .conteudo {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
  }
  
  .subject img {
    max-width: 100%;
    border-radius: 8px;
  }
  

  .subject .col-md-3 {
    flex: 0 0 30%;
    max-width: 30%;
    margin-right: 20px;
  }
  
  .subject .col-md-9 {
    flex: 1;
    max-width: 70%;
  }
  
 
  
  .subject ul {
    padding-left: 20px;
  }
  
  .subject ul li {
    list-style-type: disc;
    margin-bottom: 5px;
  }
  
  /* Estilo para o carousel */
  .subject .carousel-container {
    width: 100%;
  }
  
  .carousel-inner {
    border-radius: 30px;
  }
  
  .carousel-item img {
    border-radius: 30px;
    max-width: 100%;
  }
  
  /* Ajuste de botões do carousel */
  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(100%);
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .subject .conteudo {
      flex-direction: column;
    }
    .subject .col-md-3,
    .subject .col-md-9 {
      max-width: 100%;
      flex: 0 0 100%;
      margin-right: 0;
    }
    .subject img {
      margin-bottom: 20px;
    }
    .subject .carousel-container {
      margin-top: 20px;
    }
  }
  